body {
    margin: 0 auto;
    // background-color: hsl(52, 50%, 96%);
    // font-family: "Poppins", sans-serif;
    // font-weight: 400;
    // color: hsl(213, 69%, 10%);
  }


//   HEADER   ------------------------------

.header {
    // 
}

//   START   ------------------------------

#start {
    // 
}

//   PRODUCT   ------------------------------

#product {
    // 
}

//   PROCESS   ------------------------------

#process {
    // 
}

//   ABOUT   ------------------------------

#about {
    // 
}

//   FOOTER   ------------------------------

footer {
    background-color: #2b475c;
}

