@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,500&display=swap');

body {
    margin: 0 auto;
    background-color: #e9e6e1;
    color: #2a465c;
    font-family: 'Playfair Display', serif;
    line-height: 1.4;
    font-weight: 700;
  }

h2, h3 {
      text-align: center;
       
}

main {
    padding: 0 5em;
}

a:link {
    text-decoration: none;
    color:  #2b475c;
}

a:visited {
    color: #5d8a74;
}

a:hover {
    color: #3b5999;
}
  
button {
    transition-duration: 0.2s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
button:hover {
    background-color: #5d8a74; /* Green */
    color: white;
    cursor: pointer;
}
//   HEADER   ------------------------------

.header {
    
    position: fixed;
    display: flex;
    width: 100vw;
    font-size: large;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.05),
    0 4px 4px rgba(0, 0, 0, 0.05), 0 8px 8px rgba(0, 0, 0, 0.05),
    0 16px 16px rgba(0, 0, 0, 0.05);

    &__nav {
        background-color:  #e9e6e1;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
    }

    &__img {
        position: relative;
        width: 55px;
        padding: .5em;
        background-color: #e9e6e1;
    }

}

//   START   ------------------------------

.start {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    padding-top: 10%;

    &__images {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &__symbol {
        width: 300px;
    }

    &__title {
        flex-grow: 0;
        height: 100%;
        width: 700px;
    }

    &__text {
        padding-top: 4em;
        text-align: center;
    }
}

//   PRODUCT   ------------------------------


.product {
    scroll-margin-top:5em;
    font-weight: bold;
    background-color: white;
    margin-top: 4em;
    border-radius: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.05),
    0 4px 4px rgba(0, 0, 0, 0.05), 0 8px 8px rgba(0, 0, 0, 0.05),
    0 16px 16px rgba(0, 0, 0, 0.05);
    display: flex;  
    justify-content: center;
        &__container {
            display: flex;
            flex-direction: column;
            background: linear-gradient(
            to top right,
            hsla(52, 90%, 50%, 0) 0,
            hsla(151.4,19%,45.5%, 0.5) 0,
            hsla(206.4,37.3%,26.3%, 0.5) 90%
        );
        padding: 3em;
        border-radius: 15px;
        }

        &__title {
            font-size: x-large;
        }

        &__text {
            padding-top: 1em;
        }

        &__intro {
            text-align: center;
        }

        &__images {
            padding: 4em 0;
            display: flex;
            justify-content: space-evenly;
        }

        &__img {
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.05),
            0 4px 4px rgba(0, 0, 0, 0.05), 0 8px 8px rgba(0, 0, 0, 0.05),
            0 16px 16px rgba(0, 0, 0, 0.05);
            border-radius: 50%;
            width: 250px;
            height: 250px;
        }

        &__origin {
            text-align: justify;
        }
}

//   PROCESS   ------------------------------

.process {
    scroll-margin-top:5em;
    font-weight: 700;
    background-color: white;
    margin-top: 4em;
    border-radius: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.05),
    0 4px 4px rgba(0, 0, 0, 0.05), 0 8px 8px rgba(0, 0, 0, 0.05),
    0 16px 16px rgba(0, 0, 0, 0.05);
    
    &__container {
        display: flex;
        flex-direction: column;
        background: linear-gradient(
        to bottom right,
        hsla(52, 90%, 50%, 0) 0,
        hsla(151.4,19%,45.5%, 0.5) 0,
        hsla(206.4,37.3%,26.3%, 0.5) 90%
    );
    padding: 3em;
    border-radius: 15px;
    }

    &__intro {
        padding-bottom: 4em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        padding-bottom: 1em;
        font-size: x-large;
    }

    &__text {
        width: 70%;
        text-align: justify;
    }

    &__list {
        text-align: justify;
    
    }

}

.list {
    display: grid;
  grid-template-columns: repeat(2, 4fr);
  grid-auto-rows: 1fr;
  gap: 40px;

    &__item {
        padding: 1em ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__img {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.05),
        0 4px 4px rgba(0, 0, 0, 0.05), 0 8px 8px rgba(0, 0, 0, 0.05),
        0 16px 16px rgba(0, 0, 0, 0.05);
        border-radius: 10%;
        width: 500px;
        height: 250px;
        margin-bottom: 5em;
        
    }
}

//   ABOUT   ------------------------------

.about {
    scroll-margin-top:5em;
    font-weight: 700;
    background-color: white;
    margin-top: 4em;
    border-radius: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.05),
    0 4px 4px rgba(0, 0, 0, 0.05), 0 8px 8px rgba(0, 0, 0, 0.05),
    0 16px 16px rgba(0, 0, 0, 0.05);

    &__container {
        display: flex;
        flex-direction: column;
        background: linear-gradient(
        to bottom left,
        hsla(52, 90%, 50%, 0) 0,
        hsla(151.4,19%,45.5%, 0.5) 0,
        hsla(206.4,37.3%,26.3%, 0.5) 90%);
        padding: 3em;
        border-radius: 15px;
    }

    &__intro {

    }

    &__title {
        font-size: x-large;
        padding-bottom: 1em;
    }

    &__text {
        padding-bottom: 4em;
        text-align: center;
    }

    &__images {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        justify-items: center;
    }

    &__img {
        width: 300px;
        padding-top: 2em;
       
    }
}

//   CONTACT   ------------------------------

.contact {
    scroll-margin-top:5em;
    text-align: center;
    font-weight: 700;
    background-color: white;
    margin-top: 4em;
    margin-bottom: 4em;
    border-radius: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.05),
    0 4px 4px rgba(0, 0, 0, 0.05), 0 8px 8px rgba(0, 0, 0, 0.05),
    0 16px 16px rgba(0, 0, 0, 0.05);

    &__container {
        display: flex;
        flex-direction: column;
        background: linear-gradient(
        to top left,
        hsla(52, 90%, 50%, 0) 0,
        hsla(151.4,19%,45.5%, 0.5) 0,
        hsla(206.4,37.3%,26.3%, 0.5) 90%);
        padding: 3em;
        border-radius: 15px;
    }

    &__title {
        font-size: 20px;
        padding-bottom: 2em;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
      
    }

    &__box {
        padding: 1em;

        display: flex;
        flex-direction: column;
    }

    &__box-label {
        align-self: flex-start;
    }

    &__button {
        background-color: #2a465c;
        border: none;
        color: white;
        align-self: center;
        width: 50em;
        height: 44px;
        padding: 1em;
        margin-top: 2em;
        border-radius: 5px;
    }
}

#name{
    width: 50em;
    height: 1.5em;
}

#email{
    width: 50em;
    height: 1.5em;
}

#text-box{
    width: 50em;
    margin-bottom: 2em;
}

//   FOOTER   ------------------------------

.footer {
    background-color: #2b475c;
    color: #e9e6e1;
    padding: 1em;
    line-height: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &__info-box{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

  

    &__media {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}

.info-text{
    padding-right: 1em;
}

.info-a:link {
    text-decoration: none;
    color: #e9e6e1;
}

.info-a:visited {
    color: #5d8a74;
}

.info-a:hover {
    color: #1e965c;
}

.wrapper .icon{
    position: relative;
    background-color: #e9e6e1;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #3b5999;
    text-decoration: none;
  }
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    line-height: 1.5;
    font-size: 14px;
    background-color: red;
    color: green;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #e9e6e1;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
 
  .wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #e9e6e1;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #e9e6e1;
}
