body {
    margin: 0 auto;
    background-color: #e9e6e1;
    color: #2a465c;
    // font-family: "Poppins", sans-serif;
    // font-weight: 400;
    // color: hsl(213, 69%, 10%);
  }

  h2 {
      text-align: center;
  }


//   HEADER   ------------------------------

.header {
    
    position: fixed;
    display: flex;
    width: 100vw;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.05),
    0 4px 4px rgba(0, 0, 0, 0.05), 0 8px 8px rgba(0, 0, 0, 0.05),
    0 16px 16px rgba(0, 0, 0, 0.05);

    &__nav {
        background-color:  #e9e6e1;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
    }

    &__img {
        position: relative;
        width: 55px;
        padding: .5em;
    }

}

//   START   ------------------------------

.start {
    display: flex;
    flex-direction: column;
    padding-top: 10%;

    &__images {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &__symbol {
        width: 250px;
    }

    &__title {
        flex-grow: 0;
        height: 100%;
        width: 1000px;
    }

    &__text {
        text-align: center;
    }
}

//   PRODUCT   ------------------------------

.product {
    // 
}

//   PROCESS   ------------------------------

.process {
    // 
}

//   ABOUT   ------------------------------

.about {
    // 
}

//   CONTACT   ------------------------------

.contact {
    // 
}

//   FOOTER   ------------------------------

footer {
    background-color: #2b475c;
    color: #e9e6e1;
}

